//---------------------------------------------z-index
$z-index: (
	popup: 101,
	header: 100,
	footer: 100,
);
//---------------------------------------------z-index###

//---------------------------------------------breakpoints
$desktop_xl: 1920px;
$desktop: 1366px;
$tablet_max: 1024px;
$tablet_min: 768px;
$mobile: 390px;
//---------------------------------------------breakpoints###