@import '@/styles/helpers/helpers-all.scss';

.header__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	@include bp($desktop, min) {
		margin: 0 -9rem -2rem 0;
	}

	@include bp($desktop - 1) {
		margin: 0 -4rem -2rem 0;
	}
}

.header__item {
	@include bp($desktop, min) {
		padding: 0 9rem 2rem 0;
	}

	@include bp($desktop - 1) {
		padding: 0 4rem 2rem 0;
	}
}

.header__link {
	color: #fff4e9;
	letter-spacing: -.056em;
	text-decoration: none;

	transition: color .3s ease, opacity .3s ease;

	&.header__link--active_state {
		color: var(--primary-color-2);
	}

	&:hover,
	&:focus {
		opacity: .7;
	}

	@include bp($desktop, min) {
		font-size: 2.8rem;
	}

	@include bp($desktop - 1) {
		font-size: 2.2rem;
	}
}