@import '@/styles/helpers/helpers-all.scss';

.description {
	color: #fdfeff;
	font-weight: 500;
	font-family: var(--font-bw-modelica);

	&.description--xs_mod {
		letter-spacing: -0.04em;
		@include bp($tablet_max, min) {
			font-size: 2rem;
			line-height: 1.46;
		}
		@include bp($tablet_max - 1) {
			font-size: 1.4rem;
			line-height: 1.6;
		}
	}

	&.description--base_mod {
		@include bp($tablet_max, min) {
			font-size: 2.2rem;

			line-height: 1.45;
			letter-spacing: -0.042em;

			p:not(:last-child) {
				margin-bottom: 3.2rem;
			}
		}

		@include bp($tablet_max - 1) {
			letter-spacing: -0.048em;
		}
	}

	&.description--lg_mod {
		@include bp($tablet_max, min) {
			font-size: 2.4rem;
		}
	}

	@include bp($tablet_max - 1) {
		font-size: 1.4rem;
		line-height: 1.57;

		p:not(:last-child) {
			margin-bottom: 2.2rem;
		}
	}
}
